:root {
    --color-primary: #fc4f61;
    --color-secondary: #e6bf84;
    --color-info: #6c6ce4;
    --color-warning: #f8d74c;
    --color-danger: #f97a8b;
    --color-bg: #343353;
    --color-card-bg: #302f4e;
    --color-text-primary: white;
    --color-text-secondary: #8380a3;
}
